
@import url("./fonts.css");

body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-base-bg);
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: filter 250ms ease;
}

body.portrait {
  font-size: calc(1vh + 1vw);
}

*::selection {
  background-color: var(--color-theme-bg-shade);
  color: var(--color-first-ac-bg);
}

@keyframes glitch-pulse-shadow {
  0% {
    filter: 
      drop-shadow(8px 6px 0.25em var(--color-first-ac-bg-shade)) 
      drop-shadow(-8px -6px 0.25em var(--color-theme-bg-shade)) 
      blur(3px);
    transform: scaleX(1.1) translateY(0.5%);
  }
  25% {
    transform: scaleY(0.95) translateY(-0.5%);
  }
  50% {
    transform: scaleY(1.05) translateX(1%);
  }
  75% {
    transform: scaleX(0.9) translateX(-1%);
  }
  100% {
    filter: drop-shadow(2px 4px 0.125em var(--color-first-ac-bg-shade)) 
            drop-shadow(-2px -4px 0.125em var(--color-theme-bg-shade)) 
            blur(1px);
    transform: none;
  }
}

.menubar {
  position: absolute;
  margin: 6px;
  padding: 0;
  width: calc(100% - 14px);
  height: 4em;
  background-color: #2048;
  border: #FFFFFF44 1px solid;
  border-radius: 4px;
  box-shadow: var(--color-theme-shadow-shade) 0px 4px 4px,
              inset var(--color-first-ac-bg-shade) 0px 0px 2em;
  display: inline-flex;
  flex-direction: row;
  backdrop-filter: blur(3px);
}

.menubar img {
  margin: 0.25em;
  width: 3em;
  height: 3em;
  filter: drop-shadow(1px 2px 0.5em var(--color-first-ac-bg-light)) 
          drop-shadow(-1px -2px 0.5em var(--color-theme-bg-light));
  animation: glitch-pulse-shadow 0.5s ease 0.5s infinite alternate;
  padding: 0.25em;
  background-color: #F8F1;
  border-radius: 50%;
}

.menubar h1 {
  margin: 0 0.75em 0 0.25em;
  padding: 0;
  font-size: 1.25em;
  color: var(--color-theme-light);
  text-shadow: 2px 4px 0.25em var(--color-first-ac-bg-light),
               -2px -4px 0.25em var(--color-theme-bg-light);
  font-weight: normal;
  padding-right: 0.5em;
  padding-top: 0.4em;
  border-right: var(--color-base-bga-lowest) 2px solid;
}

.menubar h1 span {
  margin-left: 0.25em;
  filter: hue-rotate(22.5deg);
}

.menubar h3 {
  color: var(--color-first-ac-light);
  font-size: 1.5em;
  margin: 0.625em 0.5em;
  user-select: none;
}

.menubar h3:hover {
  color: var(--color-theme-shade);
  filter: blur(2px);
}

.menubar .controls {
  position: absolute;
  right: 0;
  background-color: #0002;
  height: 100%;
  padding: 0 1em;
}

.menubar .controls button {
  background-color: var(--color-base-bga-lowest);
  border: var(--color-base-bga-lowest) 1px solid;
  border-radius: 8px;
  position: relative;
  font-size: 1.75em;
  color: var(--color-theme);
  text-shadow: 0 0 8px var(--color-theme);
  margin-top: 0.25em;
  height: 1.75em;
  width: 1.75em;
  cursor: pointer;
}

.menubar .controls button:hover {
  color: var(--color-first-ac-bg-shade);
  text-shadow: 0 0 12px var(--color-first-ac-bg);
}

body.lightmode .menubar .controls .lightswitch i:nth-child(1) {
  display: none;
}

body.lightmode .menubar .controls .lightswitch i:nth-child(2) {
  display: block;
}

.menubar .controls .lightswitch i:nth-child(1) {
  display: block;
}

.menubar .controls .lightswitch i:nth-child(2) {
  display: none;
}

.menubar .fold-menus div {
  display: none;
}

.menubar .fold-menus div.shown {
  display: block;
  position: absolute;
  left: 1em;
  right: 1em;
  background-color: var(--color-base-bga-low);
  border: var(--color-base-bga-middle) 1px solid;
  border-radius: 8px;
  top: calc(100% + 0.5em);
}

.menubar .fold-menus div.shown h1 {
  text-align: center;
  text-decoration: underline;
  margin: 0.5em 0;
}

.wrapper {
  position: absolute;
  width: calc(100% - 72px);
  height: calc(100% - 48px - 4em);
  margin: 12px;
  padding: 4em 24px 24px 24px;
  border: #FFFFFF44 1px solid;
  border-radius: 4px;
  box-shadow: var(--color-first-ac-bg-shade) 0px 0px 8px,
              inset var(--color-theme-bg-shade) 0px 0px 24px;
  background: linear-gradient(180deg, var(--color-first-ac), var(--color-theme));
}

.wallpaper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0.75;
}

.content-display {
  position: relative;
  width: 100%;
  height: 100%;
}

* {
  scrollbar-width: 1em;
  scrollbar-color: var(--color-first-ac) var(--color-base-bg);
}

.content-control-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  background-color: var(--color-base-bga-middle);
  border-top: var(--color-base-bga-highest) 1px solid;
}

.medialinks {
  position: absolute;
  max-height: calc(100% - 12em);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 28em;
  max-width: calc(100% - 48px);
  right: 24px;
  bottom: 4.75em;
  background-color: var(--color-base-bga-high);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-base-bga-high);
  opacity: 1;
  backdrop-filter: blur(4px);
  transition: all 500ms ease;
}

body.portrait .medialinks {
  width: calc(100% - 48px);
}

body.portrait .medialinks.minimized,
.medialinks.minimized {
  width: 12em;
  height: 4.5em;
  opacity: 0.75;
  backdrop-filter: none;
  transition: all 250ms ease;
  overflow: hidden;
}

.medialinks.minimized:hover {
  opacity: 0.875;
}

.medialinks h2 {
  user-select: none;
  text-align: left;
  color: var(--color-first-ac-light);
  padding: 0.75em;
  padding-right: 2em;
  background-color: var(--color-base-bga-middle);
  border-radius: 8px 8px 0 0;
  border: var(--color-base-bga-low) 1px solid;
  margin: 0 0 0.5em 0;
}

.medialinks.minimized h2 {
  text-align: center;
}

.medialinks button {
  position: absolute;
  background-color: var(--color-base-bga-lowest);
  border: var(--color-base-bga-lowest) 1px solid;
  font-size: 1.75em;
  right: 0.5em;
  top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: var(--color-theme-light);
  cursor: pointer;
}

.medialinks button i:nth-child(1) {
  display: none;
}

.medialinks button i:nth-child(2) {
  display: block;
}

.medialinks.minimized button i:nth-child(1) {
  display: block;
}

.medialinks.minimized button i:nth-child(2) {
  display: none;
}

.medialinks.minimized ul {
  display: none;
}

.medialinks ul {
  display: inline-flex;
  list-style-type: none;
  position: relative;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  margin: 0;
  padding-top: 1.5em;
  max-width: calc(100% - 5em);
  flex-wrap: wrap;
  background-color: var(--color-base-bga-lowest);
  border: var(--color-base-bga-low) 1px solid;
  border-radius: 8px;
  margin-bottom: 1em;
}

.medialinks ul li a {
  display: block;
  color: var(--color-theme-shade);
  margin: 0.5em;
  margin-left: 2em;
  transform: translateX(-50%);
  text-decoration: none;
}

.medialinks ul li a p {
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-align: center;
  transition: opacity 250ms ease;
}

.medialinks ul li a:hover p {
  opacity: 1;
  transition: opacity 250ms ease;
}

.medialinks ul li a i {
  color: var(--color-first-ac-bg-shade);
  font-size: 2.5em;
  margin: 0.25em 0.5em;
  text-shadow: 0 4px 8px var(--color-first-ac-shade);
  opacity: 0.75;
}

.medialinks ul li a:hover i {
  color: var(--color-theme-light);
  text-shadow: 0 4px 16px var(--color-theme-shade);
  opacity: 1;
  transition: text-shadow 500ms ease;
  filter: drop-shadow(1px 2px 0.5em var(--color-first-ac-bg-light)) 
          drop-shadow(-1px -2px 0.5em var(--color-theme-bg-light));
  animation: glitch-pulse-shadow 0.25s ease 0.5s infinite alternate;
}

.medialinks.minimized .sc-player {
  display: none;
  user-select: none;
  pointer-events: none;
}

.medialinks .sc-player {
  opacity: 1;
  background-color: var(--color-base-bga-lowest);
  border: var(--color-base-bga-low) 1px solid;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.medialinks .sc-player h3 {
  text-align: center;
  position: relative;
  top: auto;
  font-size: 1.5em;
  margin: 0.25em 0 0.5em 0;
  color: var(--color-theme-bg-light);
  text-shadow: 0 2px 4px var(--color-theme);
}

.medialinks .sc-player iframe {
  position: relative;
  top: auto;
  opacity: 0.75;
  width: 100%;
  height: calc(100% - 3em);
  border-radius: 4px;
  margin-bottom: 1em;
}
