
:root {

    --color-base-bg: #CC66AA;
    --color-base-bga-lowest: #CC66AA44;  
    --color-base-bga-low: #CC66AA66;
    --color-base-bga-middle: #CC66AA88;
    --color-base-bga-high: #CC66AAAA;
    --color-base-bga-highest: #CC66AACC;

    --color-theme: #33CC99;
    --color-theme-shade: #33CC9966;
    --color-theme-light: #33CC99AA;

    --color-theme-bg: #339966; 
    --color-theme-bg-shade: #33996688;
    --color-theme-bg-light: #339966CC;

    --color-theme-shadow: #116633;
    --color-theme-shadow-shade: #11663388;
    
    --color-first-ac: #CC99FF;
    --color-first-ac-shade: #CC99FF66;
    --color-first-ac-light: #CC99FFAA;

    --color-first-ac-bg: #993399;
    --color-first-ac-bg-shade: #99339988;
    --color-first-ac-bg-light: #993399CC;

}
