
:root {

    --color-base-bg: #11111F;
    --color-base-bga-lowest: #11111F22;  
    --color-base-bga-low: #11111F44;
    --color-base-bga-middle: #11111F66;
    --color-base-bga-high: #11111F88;
    --color-base-bga-highest: #11111FCC;

    --color-theme: #CC3366;
    --color-theme-shade: #CC336666;
    --color-theme-light: #CC6699AA;

    --color-theme-bg: #993366; 
    --color-theme-bg-shade: #99336688;
    --color-theme-bg-light: #993366CC;

    --color-theme-shadow: #331166;
    --color-theme-shadow-shade: #33116688;
    
    --color-first-ac: #33CC99;
    --color-first-ac-shade: #33CC9988;
    --color-first-ac-light: #33CC99AA;

    --color-first-ac-bg: #339966;
    --color-first-ac-bg-shade: #33996688;
    --color-first-ac-bg-light: #339966CC;

}
